APP_NAME="SMAIT Al-Hayyu"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=smait_alhayyu
DB_USERNAME=root
DB_PASSWORD=

FONNTE_WA_TOKEN=your_whatsapp_gateway_token_here
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=spmb@smait-alhayyu.sch.id
MAIL_PASSWORD=secret
